@model EKE.Data.Entities.Home.H_Article

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Cikk szerkesztése</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form method="post" enctype="multipart/form-data" asp-controller="Main" asp-action="AddElement">
        @*asp-controller="Magazine" asp-action="AddArticle" data-ajax="true" data-ajax-method="POST" data-ajax-mode="insertafter" data-ajax-update="#responseContent" data-ajax-success="Magazine.articleAddSuccess()" enctype="multipart/form-data"*@
        @Html.HiddenFor(x => x.DateAdded)
        <div class="box-body">
            <div class="col-md-9 row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Cím</label>
                        <input asp-for="Title" class="form-control" placeholder="Cím" type="text" required>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Szerző</label>
                        <input asp-for="Author.Name" class="form-control" placeholder="Cím" type="text" required>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Esemény kezdeti dátuma</label>
                        <input asp-for="EventStartDate" class="form-control" type="date" required />
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Esemény vége</label>
                        <input asp-for="EventEndDate" class="form-control" type="date" required />
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Kategória</label>
                        <select asp-for="Category" class="form-control select2" data-placeholder="Kategória kiválsztása" style="width: 100%;">
                            @foreach (var item in Enum.GetValues(typeof(EKE.Data.Entities.Enums.NewsCategories)))
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Tartalom</label>
                        <textarea asp-for="Description" class="form-control" id="editor"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Képek feltöltése</label>
                    <input id="image-uploader" asp-for="Files" type="file" multiple>
                </div>
            </div>

        </div><!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Feltöltés</button>
        </div>
    </form>
</div>
